
<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address_line_1 %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user.dob %>
</p>

<%= link_to 'Back', users_path %> |
<%= link_to 'Edit', edit_user_path(@user) %>
