
<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address_line_1 %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user.dob %>
</p>
<br>

<h2>Add a transfer:</h2>
<%= render 'transfers/form' %>

<h2>Transfers</h2>
<%= render @user.transfers %>



<%= link_to 'Back', users_path %> |
<%= link_to 'Edit', edit_user_path(@user) %>
