<%= form_for([@user, @user.transfers.build]) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <p>
      <%= f.label :account_number_from %><br>
      <%= f.text_field :account_number_from%>
    </p>
    <p>
      <%= f.label :account_number_to %><br>
      <%= f.text_field :account_number_to %>
    </p>
    <p>
      <%= f.label :'Amount of pennies' %><br>
      <%= f.text_field :amount_pennies %>
    </p>
    <p>
      <%= f.label :country_code_from %><br>
      <%= f.text_field :country_code_from %>
    </p>
    <p>
      <%= f.label :country_code_to %><br>
      <%= f.text_field :country_code_to %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>